<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {%csrf_token%}
        <div>
            <label for="Select">Alphabet</label>
            <select name="selectAlpha" id="Select" multiple="multiple">
                <option value="a">a</option>
                <option value="b">b</option>
                <option value="c">c</option>
                <option value="d">d</option>
            </select>
            <button>Submit</button>
            <input type="text" name="numberField" id="" value="{{numberField}}">
        </div>
    </form>
</body>

</html>